/* TODO: BEM all the things, then Sass all the things.  Also, ITCSS all the filename things  */
/* TODO: Sass up the styles even more with nested selectors */

.gallery,
.gallery-search-form {
    display: none;
}

.filters {
	display: flex;
	flex-direction: column;
}

.waiting-child-profiles-filter {
    width: 90%;

    @media all and ( min-width: 31.25em ) {	/* 500px / 16px = 31.25em */
    	width: 140px;
    }
}

.waiting-child-profiles__gallery-filter {
    width: 12em;
}

.icon-key {
	display: flex;
    justify-content: space-around;
    margin-top: 1em;
	align-self: center;

	@media all and ( min-width: 31.25em ) {	/* 500px / 16px = 31.25em */
		margin-top: 0;
	}
}
/* TODO: make this its own component */
.icon-text-unit {
	display: inline-block;
	margin-left: 10px;
}

.icon-text-unit__icon {
	margin-right: 5px;
	vertical-align:middle;
	width: 20px;
}

.icon-text-unit__text {
	vertical-align: middle;
}

.child-details,
.sibling-group-details {
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	min-height: 100%;
}

/* TODO: We've BEM'ed below, now BEM above! */
.profile__profile-navigation {
	margin-bottom: 1em;
	color: $link-color;
}

.profile-navigation__previous-text,
.profile-navigation__next-text,
.profile-navigation__divider {
	position: relative;
	top: -8px;
}

.profile-navigation__previous,
.profile-navigation__next {
	cursor: pointer;
}

.profile-navigation__divider {
	margin: 0 0.1em;
	font-size: 1.2em;
}

.profile-tabs {
	border-bottom: 1px solid $modal-color-1;
	margin-bottom: 1em;
}

.profile-tabs__tab {
	padding: 1em;
	display: inline-block;

	&:not(.profile-tabs__tab--selected) {
		cursor: pointer;
	}
}

.profile-tabs__tab--selected {
	background-color: $modal-color-1;
	color: $text-color-light;
}

.profile-tab__contents {
	display: none;
}

.profile-tab__contents--selected {
	display: flex;
	flex-direction: column;
}

.profile__profile-picture {
    margin-bottom: 1em;
	margin-right: 1em;
	width: 200px;

	@media all and (min-width: 825px) {
		width: 300px;
	}
}

.profile__basic-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.profile__detailed-info {
	display: flex;
}

.profile__bio {
	flex-grow: 1;
	line-height: 1.3;
}

.profile-details__name {
	border-bottom: 3px solid $teal;
	font-size: 1.875em; /* 30px */	
	font-weight: 300;
	margin-bottom: 0.4em;
	padding: 0 1em 0.5em 1em;
}

.profile-details__age {

}

.profile-details__registration-number {
	margin-bottom: 2em;

	&:before {
		content: '';
		// TODO: put the teal mare icon here
		// background: url('')
	}
}

.detailed-child-info__header {
	font-size: 1.125em; /* 18px */
	font-weight: 600;
}

.detailed-child-info__introduction,
.detailed-child-info__part-1,
.detailed-child-info__part-2,
.detailed-child-info__part-3 {
	margin-bottom: 1.5em;
}

.profile-details__video-container,
.profile-details__wednesdays-child-video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 2em;
}

.profile-details__video,
.profile-details__wednesdays-child-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.profile__footer {
	margin-bottom: 2em;
}

/* TODO: possibly put these in the media-boxes trumps file
/* hover effect on the image */

.media-box-container {
	box-shadow: none;
}

.media-boxes-load-more-button {
	display: none;
}

.bookmark {
	display: inline-block;
	margin-top: 10px;
	font-family: sans-serif;

	&--active {
		color: $text-color-7;
	}
}
